Repository thousight/nextjs-typescript-styled-component-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove css
  pages/_app.tsx
  styles/globals.css
Due: eslint --fix

Made this repo a template
  README.md
  package.json
  pages/index.tsx
  pages/posts/[id].tsx
  pages/posts/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: upgrade next from 10.0.4 to 10.0.5
  package.json
  yarn.lock
Due: prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade styled-components from 5.2.1 to 5.2.2
  package.json
  yarn.lock
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

chores: upgrade to nextjs 12 and added vscode debug
  .vscode/launch.json
  next-env.d.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: update dev dependencies
  .husky/pre-commit
  .huskyrc
  .nvmrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: add jest unit test
  .eslintrc
  .lintstagedrc
  jest.config.ts
  jest.setup.ts
  package.json
  pages/__snapshots__/index.test.tsx.snap
  pages/index.test.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: add cypress for Integration Test
  .husky/pre-commit
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/Index.feature
  cypress/integration/Index/Index.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix build by moving unit tests to its own folder
  __tests__/__snapshots__/index.test.tsx.snap
  __tests__/index.test.tsx
Due: eslint --fix

fix: upgrade styled-components from 5.3.3 to 5.3.5
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade next from 12.1.0 to 12.1.1
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies
  .nvmrc
  .vscode/launch.json
  package.json
  yarn.lock
Due: prettier --write

feat: Add Semantic Release and Github Actions
  .github/workflows/main.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore: fix GH action
  .github/workflows/main.yml
  package-lock.json
Due: prettier --write

Fix husky CI
  .husky/pre-commit
Due: none

chore: try fix semantic-release
  package.json
  yarn.lock
Due: prettier --write

chore: more fix
  .github/workflows/main.yml
  package.json
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  47b3afb8dc82a441cfde9ab4fbb6be6279c92e39
Due: none

fix: type conflicts with styled-component
  package.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{ts,json,md}
