Repository thousight/nextjs-typescript-styled-component-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{ts,json,md}": ["prettier --write", "git add"]
}

Notes added by 'git notes add'
  b8676c982e6bd5961ca02398c8b5c8906f2c9d9d
Due: none

fix: upgrade next from 12.2.3 to 12.2.4
  package.json
  yarn.lock
Due: prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade styled-components from 5.3.5 to 5.3.6
  package.json
  yarn.lock
Due: prettier --write

chore(dependencies): update setup to latest
  .babelrc
  __tests__/__snapshots__/index.test.tsx.snap
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write
